<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Włodek Bzyl" />
  <title><%= @title %></title>
  <%= stylesheet_link_tag "/stylesheets/screen.css", "/stylesheets/uv.css", "/stylesheets/code.css" %>
</head>
<body>
<div id="content">
<%= yield %>
</div>
</body>
</html>
